{% extends 'index.html' %}
{% block content %}
   <div class="content-wrapper">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Página no encontrada.</h3>

          <p>
            No podemos encontrar la página que solicita.
            Mientras tanto, usted puede <a href="{% url 'inicio' %}">Volver al inicio</a>. Contacte con el administrador del sitio
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}