{% extends 'Authentication/login.html' %}

{% block content %}
    <h5 class="page-title">Recuperación de contraseña exitosa </h5>
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">
            <div class="col-md-12">
                <div class="box-for overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">
                            <h6>Hemos enviado las instrucciones de cómo recuperar la contraseña a la dirección de correo
                                electrónico especificada</h6>
                            <h6>Estarás recibiendo el correo pronto.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


