{% extends 'Authentication/login.html' %}

{% block content %}
    <h4 class="login-box-msg">Recuperada su contraseña </h4>
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">
            <div class="col-md-12">
                <div class="box-for overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">
                        <h5>Tu contraseña ha sido definida. Ya puedes iniciar sesión de nuevo</h5>
                        <p><a class="btn btn-primary" href="{% url 'ce_login' %}">Iniciar sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


