{% extends 'Authentication/login.html' %}

{% block content %}
    <h4 class="login-box-msg">Recuperar Contraseña!</h4>
    <h6 class="login-box-msg">Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</h6>
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">
            <div class="col-md-12">
                <div class="box-for overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">

                        <form action="" method="post">
                            <div style="display:none">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            {{ form.email.errors }}
                            <label for="id_email">Dirección de correo electrónico:</label>
                            <input class="form-control" type="email" id="id_email" name="email" maxlength="254" required><br>
                            <button class="btn btn-primary" type="submit">Recuperar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


