{% extends 'auth/user_form.html' %}
{% load static %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Actualizar su Contraseña, usuario {{ user.username|capfirst }}</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <form class="form-horizontal" method="post" onsubmit="return validarpassword(this)">
                                {% csrf_token %}
                                <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña antigua</label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control"
                                           name="old_password" id="id_old_password"/>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña nueva</label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control" name="new_password1"
                                           id="id_new_password1"/>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="col-md-3 control-label">Contraseña nueva(confirmación)</label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control"
                                           name="new_password2" id="id_new_password2"/>
                                            </div>
                                        </div>
                                    <button id="actualizar" name="actualizar" type="submit"
                                            class="btn btn-primary"
                                            value="Actualizar">Actualizar
                                    </button>
                                </div>
                            </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block jss %}
    <script>
        function validarpassword(f) {
            if (f.new_password1.value == f.new_password2.value) {
                return true;
            }
            else {
                {#            sweetAlert(error,"No son iguales las contraseñas");#}
                alert("No son iguales las contraseñas");
                return false;
            }
        }
    </script>
{% endblock %}
