{% extends 'index.html' %}
{% block menu_gestion %}
    menu-open
{% endblock %}
{% block menu_gestion_active %}
    active
{% endblock %}
{% block menu_operacion %}
    active
{% endblock %}
{% block wrapper %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Operación.</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        {% block group_wrapper %}
                            <li class="breadcrumb-item active">Operación</li>
                        {% endblock %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Operaciones</h3>
                        <a href="{% url 'operacion_create' %}" class="btn btn-danger fa-pull-right">
                            <span class="fa fa-plus"> Nuevo</span>

                        </a>
                         <a href="{% url 'facturacion_create' %}" class="btn btn-primary fa-pull-right">
                            <span class="fa fa-plus"> Facturación</span>

                             </a>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Bodega
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Seccion de Operación
                                </th>
                                <th>
                                    Cantidad/Lb
                                </th>
                                 <th>
                                    importe/PC
                                </th>
                                <th>
                                    importe/PV
                                </th>

                                <th>
                                    Acciones
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for u in operacion %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ u.bodega }}
                                        </td>
                                        <td>
                                            {{ u.fecha }}
                                        </td>
                                        <td>
                                            {{ u.producto.nombre }}**{{ u.producto.clasificacion }}
                                        </td>
                                        <td>
                                            {{ u.seccion_operacion.nombre}}**{{ u.seccion_operacion.tipo_operacion.nombre }}
                                        </td>
                                        <td>
                                            {{ u.cantidad}}
                                        </td>
                                        <td>
                                             {{ u.imp_pc}}
                                        </td>
                                        <td>
                                             {{ u.imp_pv}}
                                        </td>

                                        <td>

                                <span class="input-group-sm">
{#                                <a href="{% url 'operacion_update' u.pk %}"#}
{#                                   class="btn btn-sm btn-primary">#}
{#                                    <i class="fa fa-edit"></i>#}
{#                                </a>#}

                                <a href="{% url 'operacion_delete' u.pk %}"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                                </span>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                              <th>
                                    Número
                                </th>
                                <th>
                                    Bodega
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Seccion de Operación
                                </th>
                                <th>
                                    Cantidad/Lb
                                </th>
                                 <th>
                                    importe/PC
                                </th>
                                <th>
                                    importe/PV
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
