{% extends 'auth/user_form.html' %}
{% load static %}

{% block error %}
    <center><label class="label-danger" style="color: white">
        <h3>Su contraseña no se actualizó correctamente</h3><br>
        {% for er in errors %}
            {% if er.0 == 'password_incorrect' %}
                Contraseña antigua incorrecta
                <br>
            {% elif er.0 == 'password_mismatch' %}
                Las contraseñas no concuerdan
                <br>

            {% endif %}


        {% endfor %}

    </label></center>
{% endblock %}
{% block botones %}
    <br><br>
    <center><a role="button" class="btn btn-success" href="{% url 'password_update' datos_usuario.pk %}">Regresar</a>
    </center>
    <br><br>
{% endblock %}